In [1]:
import kagglehub

kaggle_dataset_source = "spaceship-titanic"

In [2]:
path = kagglehub.dataset_download("spaceship-titanic")

print("Dataset local -path: ", path)

ValueError: Invalid dataset handle: spaceship-titanic

In [3]:
import zipfile
import os
source_file = "spaceship-titanic.zip"
extract_dir = "dataset"

with zipfile.ZipFile(source_file, "r") as zip_ref:
    zip_ref.extractall(extract_dir)

print("extracted dataset: ", extract_dir)
print(os.listdir(extract_dir))

extracted dataset:  dataset
['sample_submission.csv', 'test.csv', 'train.csv']

In [6]:
sample_path = "./dataset/sample_submission.csv"
train_path = "./dataset/train.csv"
test_path = "./dataset/test.csv"

## I. Read Dataset

In [7]:
import pandas as pd

df_train = pd.read_csv(train_path)
df_test = pd.read_csv(test_path)

print(df_train)
print(df_test)

     PassengerId HomePlanet CryoSleep     Cabin    Destination   Age    VIP  \
0        0001_01     Europa     False     B/0/P    TRAPPIST-1e  39.0  False
1        0002_01      Earth     False     F/0/S    TRAPPIST-1e  24.0  False
2        0003_01     Europa     False     A/0/S    TRAPPIST-1e  58.0   True
3        0003_02     Europa     False     A/0/S    TRAPPIST-1e  33.0  False
4        0004_01      Earth     False     F/1/S    TRAPPIST-1e  16.0  False
...          ...        ...       ...       ...            ...   ...    ...
8688     9276_01     Europa     False    A/98/P    55 Cancri e  41.0   True
8689     9278_01      Earth      True  G/1499/S  PSO J318.5-22  18.0  False
8690     9279_01      Earth     False  G/1500/S    TRAPPIST-1e  26.0  False
8691     9280_01     Europa     False   E/608/S    55 Cancri e  32.0  False
8692     9280_02     Europa     False   E/608/S    TRAPPIST-1e  44.0  False

      RoomService  FoodCourt  ShoppingMall     Spa  VRDeck               Name  \
0             0.0        0.0           0.0     0.0     0.0    Maham Ofracculy
1           109.0        9.0          25.0   549.0    44.0       Juanna Vines
2            43.0     3576.0           0.0  6715.0    49.0      Altark Susent
3             0.0     1283.0         371.0  3329.0   193.0       Solam Susent
4           303.0       70.0         151.0   565.0     2.0  Willy Santantines
...           ...        ...           ...     ...     ...                ...
8688          0.0     6819.0           0.0  1643.0    74.0  Gravior Noxnuther
8689          0.0        0.0           0.0     0.0     0.0    Kurta Mondalley
8690          0.0        0.0        1872.0     1.0     0.0       Fayey Connon
8691          0.0     1049.0           0.0   353.0  3235.0   Celeon Hontichre
8692        126.0     4688.0           0.0     0.0    12.0   Propsh Hontichre

      Transported
0           False
1            True
2           False
3           False
4            True
...           ...
8688        False
8689        False
8690         True
8691        False
8692         True

[8693 rows x 14 columns]
     PassengerId HomePlanet CryoSleep     Cabin    Destination   Age    VIP  \
0        0013_01      Earth      True     G/3/S    TRAPPIST-1e  27.0  False
1        0018_01      Earth     False     F/4/S    TRAPPIST-1e  19.0  False
2        0019_01     Europa      True     C/0/S    55 Cancri e  31.0  False
3        0021_01     Europa     False     C/1/S    TRAPPIST-1e  38.0  False
4        0023_01      Earth     False     F/5/S    TRAPPIST-1e  20.0  False
...          ...        ...       ...       ...            ...   ...    ...
4272     9266_02      Earth      True  G/1496/S    TRAPPIST-1e  34.0  False
4273     9269_01      Earth     False       NaN    TRAPPIST-1e  42.0  False
4274     9271_01       Mars      True   D/296/P    55 Cancri e   NaN  False
4275     9273_01     Europa     False   D/297/P            NaN   NaN  False
4276     9277_01      Earth      True  G/1498/S  PSO J318.5-22  43.0  False

      RoomService  FoodCourt  ShoppingMall     Spa  VRDeck              Name
0             0.0        0.0           0.0     0.0     0.0   Nelly Carsoning
1             0.0        9.0           0.0  2823.0     0.0    Lerome Peckers
2             0.0        0.0           0.0     0.0     0.0   Sabih Unhearfus
3             0.0     6652.0           0.0   181.0   585.0  Meratz Caltilter
4            10.0        0.0         635.0     0.0     0.0   Brence Harperez
...           ...        ...           ...     ...     ...               ...
4272          0.0        0.0           0.0     0.0     0.0       Jeron Peter
4273          0.0      847.0          17.0    10.0   144.0     Matty Scheron
4274          0.0        0.0           0.0     0.0     0.0       Jayrin Pore
4275          0.0     2680.0           0.0     0.0   523.0    Kitakan Conale
4276          0.0        0.0           0.0     0.0     0.0  Lilace Leonzaley

[4277 rows x 13 columns]

In [15]:
df_train.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [9]:
df_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [10]:
df_test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [11]:
df_train.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [13]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [14]:
print(df_train.shape)
print(df_test.shape)

(8693, 14)
(4277, 13)

## II. Import neccessary libraries

In [16]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import warnings

from sklearn.model_selection import cross_val_score, StratifiedKFold

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression

from sklearn.ensemble import RandomForestClassifier

from xgboost import XGBClassifier

from lightgbm import LGBMClassifier
import lightgbm as lgb

import os

warnings.filterwarnings('ignore')

## Data Preprocessing

In [17]:
df_train = df_train.drop_duplicates()

In [18]:
df_train[df_train.isnull().sum(axis=1) >= 3]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
1203,1284_01,Mars,True,F/247/S,NaN,NaN,False,0.0,NaN,0.0,0.0,0.0,Hal Knité,True
2639,2822_02,Earth,NaN,G/450/S,TRAPPIST-1e,5.0,NaN,0.0,0.0,0.0,0.0,NaN,Salley Harverez,False
2762,2970_01,Earth,False,NaN,TRAPPIST-1e,NaN,False,740.0,82.0,6.0,NaN,1.0,Dwin Adkinson,False
3072,3315_01,Earth,NaN,F/627/S,TRAPPIST-1e,15.0,False,10.0,0.0,99.0,NaN,2031.0,NaN,False
3535,3790_01,NaN,True,G/620/P,TRAPPIST-1e,13.0,False,0.0,NaN,0.0,NaN,0.0,Trick Meyersones,True
3882,4167_01,Earth,False,NaN,PSO J318.5-22,NaN,NaN,0.0,440.0,0.0,0.0,334.0,Ninaha Deckerson,False
4164,4446_05,Europa,NaN,B/175/S,TRAPPIST-1e,33.0,False,0.0,4017.0,NaN,NaN,2260.0,Phah Chocaters,True
4548,4840_01,NaN,True,F/915/S,TRAPPIST-1e,36.0,False,0.0,0.0,NaN,0.0,0.0,NaN,True
5208,5555_01,NaN,False,G/896/S,NaN,43.0,NaN,1.0,0.0,213.0,7.0,701.0,Winia Blanglison,True
5409,5777_01,Earth,NaN,F/1199/P,PSO J318.5-22,46.0,NaN,559.0,25.0,NaN,22.0,765.0,Katen River,False
5806,6141_02,Earth,False,NaN,NaN,21.0,False,28.0,0.0,0.0,662.0,0.0,NaN,False
6057,6405_02,Earth,NaN,NaN,NaN,2.0,False,0.0,0.0,0.0,0.0,0.0,Feline Toddleton,True
6112,6451_01,Mars,False,NaN,NaN,37.0,False,610.0,NaN,410.0,148.0,14.0,Carkes Panad,False
6904,7314_01,Europa,NaN,C/237/P,NaN,33.0,False,0.0,0.0,0.0,NaN,0.0,Aldun Venticable,True
7019,7472_01,Mars,True,F/1426/S,TRAPPIST-1e,NaN,False,0.0,0.0,0.0,0.0,NaN,NaN,True
7211,7703_02,NaN,True,G/1251/S,TRAPPIST-1e,13.0,False,0.0,0.0,NaN,0.0,0.0,NaN,True
7682,8202_03,NaN,True,C/306/S,TRAPPIST-1e,NaN,False,0.0,0.0,0.0,0.0,NaN,Charga Unkcatted,True

In [19]:
df_train = df_train[df_train.isnull().sum(axis=1) < 3]

### 2. Standard data, Data Imputation

In [20]:
df_train["HomePlanet"].fillna(df_train["HomePlanet"].mode()[0], inplace=True)
df_train["CryoSleep"].fillna(False, inplace=True)

df_train["Cabin"].fillna("Unknown", inplace = True)

df_train['Destination'].fillna('Unknown',inplace = True)
df_train['Age'].fillna(df_train['Age'].median(),inplace = True)
df_train['VIP'].fillna(False,inplace=True)
df_train['RoomService'].fillna(0,inplace = True)
df_train['FoodCourt'].fillna(0,inplace = True)
df_train['ShoppingMall'].fillna(0,inplace = True)
df_train['Spa'].fillna(0,inplace = True)
df_train['VRDeck'].fillna(0,inplace = True)

### 3. Feature Engineering

In [21]:
df_train[["Deck", "Num", "Side"]] = df_train["Cabin"].str.split("/", expand=True)

df_train.loc[df_train["Cabin"] == "Unknown", ["Deck", "Num", "Side"]] = "Unknown"

In [22]:
df_test[['Deck','Num','Side']] = df_test['Cabin'].str.split('/',expand = True)
df_test.loc[df_test['Cabin']=='Unknown',['Deck','Num','Side']] = 'Unknown'

In [23]:
df_train.drop(columns = ["Cabin"], inplace = True)
df_test.drop(columns = ["Cabin"], inplace = True)

In [24]:
df_train["TotalSpent"] = df_train["RoomService"] + df_train["FoodCourt"] + df_train["ShoppingMall"] + df_train["Spa"] + df_train["VRDeck"]

df_test['TotalSpent'] = df_test['RoomService'] + df_test['FoodCourt'] + df_test['ShoppingMall'] + df_test['Spa'] + df_test['VRDeck']

In [25]:
df_train["SpentSomething"] = (df_train["TotalSpent"] > 0).astype(int)

df_test["SpentSomething"] = (df_test["TotalSpent"] > 0).astype(int)

### 4. Data Visualization